@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.channels {
    height: 100vh;
    width: 300px;
    padding: 20px;
    position: fixed;
    left: -300px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    transition: all .5s ease;
}

.channels .channel {
    padding: 10px;
    font-size: 30px;
}

.channels .channel a {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: all .5s ease;
}

.channels .channel a:hover {
    opacity: 0.7;
}

.opened {
    left: 0;
}

.channels .menu {
    position: absolute;
    top: 10px;
    right: -60px;
    background: #fff;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 7px #000;
    width: 50px;
    transition: all .5s ease;
}

.channels .profile-info {
    display: flex;
}

.channels .profile-info img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.channels .profile-info img:hover {
    opacity: 0.7;
}

.channels .profile-info p {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .5s ease;
}

.channels .profile-info p:hover {
    transform: scale(1.1);
}

.channels .menu:hover {
    opacity: 0.7;
}

.chat {
    width: 100vw;
    height: 100vh;
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat #send-message {
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px;
    background: #0c0b0b;
}

.chat #send-message input {
    padding: 7px;
    outline: none;
    width: 100%;
    border: 1.5px solid #fff;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transition: all .5s ease;
}

.chat #send-message input:focus {
    border: 1.5px solid #0c0b0b;
}

.chat #send-message button {
    border: none;
    padding: 0 7px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 17px;
    transition: all .5s ease;
}

.chat #send-message button:hover, .chat #send-message button:focus {
    opacity: 0.7;
}

.chat #send-message button#add-gif {
    background: #0f50a5;
}

.chat #send-message button#send-the-message {
    background: #961f1f;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.chat .messages {
    height: calc(100vh - 40px);
    overflow: auto;
    scroll-behavior: smooth;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 70px;
}

.chat .messages .cont-msg {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat .messages .msg {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.chat .messages .msg .user-image {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .messages .msg .user-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.message-text {
    white-space: pre-line;
}

.profile-imgs {
    width: 360px;
    height: 300px;
    position: fixed;
    background: #000;
    overflow: auto;
    display: none;
    z-index: 20;
}

.profile-imgs::-webkit-scrollbar {
	width: 7px;
}

.profile-imgs::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
}

.profile-imgs img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.profile-imgs img:hover {
    opacity: 0.7;
}

.bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .777);
}

#changeName {
    display: none;
    position: fixed;
    background: #aaa;
    padding: 10px;
    border-radius: 5px;
    z-index: 20;
}

#changeName input, #changeName button {
    padding: 7px;
    outline: none;
    margin: 4px;
    border-radius: 3px;
    transition: all .5s ease;
}

#changeName input {
    border: 1.5px solid #555;
}

#changeName input:focus {
    border: 1.5px solid #111;
}

#changeName button {
    background: #0b5491;
    color: #fff;
    border: none;
    cursor: pointer;
}

#changeName button:hover, #changeName button:focus {
    opacity: 0.7;
}

.gifs-container {
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    background: #111;
    display: flex;
    flex-direction: column;
    z-index: 50;
    transition: all .5s ease;
}

.gifs-container .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    transition: all .5s ease;
}

.gifs-container .btn-close:hover {
    transform: scale(0.9);
    opacity: 0.7;
}

.gifs-container form {
    width: 100%;
    height: 70px;
    background: #000;
    padding: 20px;
    display: flex;
}

.gifs-container form input {
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 2px;
    border: 1.5px solid #888;
    width: 150px;
    margin-right: 10px;
    transition: all .5s ease;
}

.gifs-container form input:focus {
    border: 1.5px solid #000;
}

.gifs-container form button {
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #003f88;
    color: #fff;
    transition: all .5s ease;
}

.gifs-container form button:hover, .gifs-container form button:focus {
    transform: scale(0.9)
}

.gifs-container .gifs-place {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    overflow: auto;
    padding: 20px;
}

.gifs-container .gifs-place img {
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
}

.gifs-container .gifs-place img:hover {
    transform: scale(1.1);
}

.connections {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.connections::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3dd36f;
    position: absolute;
    left: -30px;
}

.audio-config {
    position: fixed;
    top: 17.5px;
    right: 100px;
    width: 40px;
    cursor: pointer;
    transition: all .5s ease;
}

.audio-config:hover, .audio-config:focus {
    opacity: 0.7;
    transform: scale(1.1);
}

.audio-config-cont {
    padding: 15px;
    background: #fff;
    border-radius: 2px;
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 10;
}

.audio-config-cont h2 {
    margin-bottom: 10px;
}

.audio-config-cont p {
    max-width: 90%;
}

.audio-config-cont select {
    outline: none;
    border: 1px solid #999;
    margin-top: 10px;
    padding: 10px;
    border-radius: 2px;
}

@media (max-width: 1000px) {
    .gifs-container .gifs-place {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media (max-width: 500px) {
    .gifs-container .gifs-place {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media (max-width: 400px) {
    .gifs-container .gifs-place {
        grid-template-columns: 1fr;
    }    
}